.flexy {
  display: flex;
  flex: 1;
}

#app {
  .flexy;
  height: 100%;

  background-color: #efffea;

  > div {
    .flexy;
  }
  .app {
    .flexy;
    flex-flow: column;
    overflow: auto;
  }

  .container {
    flex: 1;
    height: 100%;
    margin-top: 3em;
  }
}