.flexy {
  display: flex;
  flex: 1;
}

#app {
  .flexy;
  height: 100%;

  background-color: #efffea;

  > div {
    .flexy;
  }
  .app {
    .flexy;
    flex-flow: column;
    overflow: auto;
  }

  .container {
    flex: 1;
    height: 100%;
    margin-top: 4em;
  }

  .ui.cards {
    align-items: flex-start;
  }
  .ui.form .field {
    // Configure Disabled fields
    flex: 1;
    &.disabled {
      label {
        opacity: 1;
      }

      &.field-option {
        opacity: 1;
        .dropdown {
          border: none;
        }
        .dropdown.icon {
          display: none;
        }
      }
    }
  }
}

